.enemy_num_style{
  border: 2px solid black;
  width: 100px;
  height: 100px;
  
  display: flex;      
  justify-content: center;  
  align-items: center; 
}

.my_num_style{
  border: 2px solid black;
  width: 100px;
  height: 100px;
  
  display: flex;      
  justify-content: center;  
  align-items: center; 

  margin-top: 20px;
}

.black_style{
  background-color: black;
}

.next_style{
  margin-left: 30px;
}

.score_style{
  margin-top: 20px;
  margin-left: 30px;
}