.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.item_style{
  height: 90px;
  font-size: 30px;
}

.grid_hard{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.item_style_hard{
  height: 67px;
  font-size: 30px;
}

.clicked_btn{
  background-color: black;
}

#game_main{
  text-align: center;
  margin-top: 50pxpx;
}

#button_normal, #button_hard{
  width: 110px;
  height: 50px;
  font-size: 20px;
  border-radius: 13px;
}

#button_normal{
  background-color: rgb(97, 217, 105);
  margin-right: 20px;

}

#button_hard{
  background-color: rgb(231, 52, 64);
  margin-left: 20px;
}


#button_normal:hover{
  opacity: 0.6;
}

#button_hard:hover{
  opacity: 0.6;
}